extends ../layout

block content
    h2.mt-3 Orders
    div.mt-5.table-responsive
        table.table.table-striped.table-sm
            thead
                tr
                    th ID
                    th Status
                    th Quantity
                    th Price
                    th Address
                    th User ID
                    th Email
                    th Item ID
                    th Item name
                    th Item price
                    th Thumbnail
            tbody
                - for(let order of orders)
                    tr
                        td
                            p=order.id
                        td
                            p=order.status
                        td
                            p=order.quantity
                        td
                            p=order.price
                        td
                            p=order.address
                        td
                            p=order.user.id
                        td
                            p=order.user.email
                        td
                            p=order.item.id
                        td
                            p=order.item.name
                        td
                            p=order.item.price
                        td
                            img(src=order.item.thumbnail width=50 height=50)